* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    padding: 10px 0px 0px 0px;
}

.block-header {
    display: flex;
    width: inherit;
}

.block-header-logo {
    height: 60px;
    width: 220px;
    display: flex;
}

.block-header-logo img {
    height: 39px;
    padding: 9px 0px 0px 0px;
}

.block-header-category {
    padding: 27px 0px 0px 0px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.block-header-category ul {
    display: flex;
}

.block-header-category li {
    display: inline;
}

.block-header-category li a {
    font-size: 18px;
    padding: 0px 4px 0px;
    color: #009cf0;
    font-weight: 500;
    text-decoration: none;
}

.block-header-category li a:hover {
    color: #24245a;
}

.block-header-profile {
    padding: 20px 0px 0px 0px;
}

.block-header-profile button {
    color: #000000;
    background-image: none;
    background-color: rgb(194, 194, 194);
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    font-size: 13px;
    /* font-weight: 700; */
    margin: 0;
    padding: 0 8px;
    display: inline-block;
    border: 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    /* transition: .1s ease; */
    transition-property: color, background-color, box-shadow, border-color;
    text-shadow: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* box-shadow: inset 0 0 0 1px #777a78; */
    cursor: pointer;
}

.block-header-profile a {
    font-size: 19px;
    padding: 0px 4px 0px;
    font-weight: 600;
    text-decoration: none;
    color: #a1a1a1;
    font-size: 14px;
    line-height: 20px;
}

.block-header-profile a:hover {
    color: #727cb6;
}


/* Middle
-----------------------------------------------------------------------------*/

.middle {
    width: 100%;
    padding: 0 0 200px;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 270px 0 0;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/

.right-sidebar {
    float: left;
    width: 250px;
    margin-left: -250px;
    position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    width: 1200px;
    margin: -150px auto 0;
    height: 150px;
    position: relative;
    border-top: 1px solid #adadad;
}

.footer-menu {
    display: inline;
    padding: 0px 0px 30px 0px;
}

.footer-menu ul {
    display: inline-block;
    justify-content: space-between;
    position: inherit;
    width: 30%;
    vertical-align: top;
    padding: 20px 0px 0px 0px;
}

.footer-menu ul {
    display: inline-block;
    justify-content: space-between;
    position: inherit;
    width: 33%;
    vertical-align: top;
    padding: 20px 0px 0px 0px;
}

.footer-menu ul:first-child {
    padding: 20px 0px 0px 0px;
}

.footer-menu li {
    display: block;
    width: 200px;
    padding: 5px;
}

.footer-menu li a {
    text-decoration: none;
    font-size: 15px;
    padding: 0px;
    width: 200px;
    color: #616060;
    border-bottom: 1px dashed #fff;
}

.footer-menu li a:hover {
    color: #3b0f0f;
    border-bottom: 1px dashed #3b0f0f;
}